# Files to avoid being committed
*.svs
*.pyc
*.png
*.jpg
*.json
*.csv
*.pth
*.h5
*.xlsx

# Folders to omit to upload
*results/
*data/*
*/data_bracs/*
mil_wsi/data/dataset
mil_wsi.egg-info/dependency_links.txt
mil_wsi.egg-info/PKG-INFO
mil_wsi.egg-info/SOURCES.txt
mil_wsi.egg-info/top_level.txt
